.Routine_list {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.RoutineItem {
  display: inline-block;
  width: 45%;
  margin: 10px;
  text-align: center;
}

.feedImg {
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.feedTitle {
  font-size: 28px;
  width: fit-content;
  text-align: center;
}

.feedTag {
  font-size: 25px;
}

.feedback {
  font-size: 20px;
}

.sortedList_div {
  text-align: center;
}

.show_tagList_fd {
  text-align: center;
}

.hide_tagList_fd {
  display: none;
}
.TagButton_fd {
  margin: 2%;
  width: 12%;
  height: 6vh;
  font-size: 20px;
  border-radius: 15px;
}

.toggle_icon {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
