.slide-in {
  animation: change 0.5s ease forwards;
}

@keyframes change {
  from {
    transform: translateX(100%);
    visibility: visible;
  }

  to {
    transform: translateX(0%);
  }
}

.Routine_list {
  text-align: center;
  width: 100%;
}

.RoutineItem {
  display: inline-block;
  width: 45%;
  margin: 10px;
}

.feedImg {
  width: 100%;
  height: auto;
}

.feedTitle {
  font-size: 28px;
}

.feedTag {
  font-size: 25px;
}

.feedback {
  font-size: 20px;
}
