.feed--div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.menuTab_va {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.sortBtn_fd {
  flex: 1 1 0;

  height: 3rem;
  text-align: center;
  font-size: 1.2rem;

  border: none;

  color: white;
  background-color: rgb(0, 102, 255);
}

.toggle_icon {
  width: 100%;
  height: 2rem;
  border: none;

  color: white;
  background-color: rgb(0, 102, 255);
}

.hide_tagList_fd {
  display: none;
}

.show_tagList_fd {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.TagButton_fd {
  flex: 0 0 4rem;

  height: 2.5rem;
  margin: 0.15rem;

  border: none;
  border-radius: 0.8rem;
  background-color: rgb(236, 236, 236);
}

.clicked_fd {
  flex: 0 0 4rem;

  height: 2.5rem;
  margin: 0.1rem;

  border: none;
  border-radius: 0.8rem;
  background-color: gray;

  color: white;
  background-color: rgb(0, 102, 255);
}

.sortedList_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 0.5rem;
}

.Routine_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
}

.RoutineItem {
  flex: 0 0 11.6rem;

  width: 11.6rem;
  text-align: center;
  margin: 0.5rem;
  transition: all 0.3s ease;
}

.RoutineItem:hover {
  transform: scale(1.05);
}

.feedImg {
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
  width: 100%;
  height: 9rem;
}

.feedTitle {
  font-size: 1.2rem;
  margin: 0;

  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

ul.pagination {
  margin-bottom: 7rem;
}

.feedTag > button {
  padding: ;
  height: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: aqua;
}
