.routinSection {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  padding-bottom: 25%;
}

.routine_name {
  width: 100%;
  padding-left: 1rem;
  font-size: 2rem;

  border: none;
}

.routine_name:focus {
  outline: none;
}

.ectBtn {
  display: flex;
  flex-direction: row;
  justify-content: end;

  margin-top: 1rem;
}

.ShareRoutineButton {
  flex: 0.18 0.18 0;
  height: 1.6rem;

  color: rgb(74, 74, 74);
}

.AddRoutineButton {
  position: fixed;
  bottom: 6.5em;
  left: 20em;
}
