.LikedRoutineEdit p {
  display: inline;
}
.header_sre {
  margin-top: 5%;
  text-align: center;
}

.totalTitle_sre {
  margin: 0;
  width: fit-content;

  font-size: 120%;
}

.editBtn_sre {
  width: 15%;
  height: 5vh;

  border: none;
  border-radius: 5px;
  margin-left: 40px;
  background-color: rgb(0, 102, 255);
  color: white;
}

.selctAllHeader_sre {
  text-align: left;
  margin-left: 5%;
}
.selectAllBox_sre {
  margin-left: 3%;
}

.cancleEditBtn_sre {
  width: 20%;
  height: 5vh;
  border-radius: 5px;
  margin-left: 52%;
  color: rgb(0, 102, 255);
}

.LikedRoutineEditBody_sre {
  margin-top: 10%;
  padding-bottom: 5rem;
}
.editBoxItem_sre {
  margin-left: 90%;
}
.RoutineItem_sre {
  display: inline-block;
  width: 45%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-bottom: 5%;
  text-align: center;
}

.feedImg_sre {
  width: 100%;
  height: 15vh;
  object-fit: cover;
  border-radius: 30px;
}

.feedTitle_sre {
  font-size: 110%;
  margin: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.deleteBtn_sre {
  width: 100%;
  height: 8vh;
  position: fixed;
  bottom: 0;

  border: none;
  background-color: rgb(0, 102, 255);
  font-size: 25px;
  color: white;
}

.cancleEditBtn_sre {
  color: red;
  border: none;
}
