.loginButton {
  margin-top: 10px;
  padding: 0;
  width: 250px;
  height: 30px;
  border: none;
  background-color: #0095f6;
  color: white;
  font-size: 17px;
  border-radius: 5px;

  &:disabled {
    background-color: rgba(0, 149, 246, 0.3);
  }
}
