.loginButton {
  width: 80%;
  height: 7vh;
  border: none;
  background-color: #0095f6;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  margin-bottom: 5%;
}

.idDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.pwDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginId {
  font-size: 25px;
  width: 80%;
  height: 6vh;
  border-radius: 30px;
  text-align: center;
}

.loginPw {
  font-size: 25px;
  width: 80%;
  height: 6vh;
  border-radius: 30px;
  text-align: center;
}

.welcome {
  font-size: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15%;
  margin-top: 5%;
}

@media (max-width: 500px) {
  .welcome {
    font-size: 25px;
  }
}

.buttonDiv {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.loginButton {
  border-radius: 40px;
  font-size: 30px;
  transition: 0.25s;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.loginButton:hover {
  transform: scale(1.05);
}

.userNameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.userName {
  font-size: 25px;
  width: 80%;
  height: 6vh;
  border-radius: 30px;
  text-align: center;
}

.nickNameDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.nickName {
  font-size: 25px;
  width: 80%;
  height: 6vh;
  border-radius: 30px;
  text-align: center;
}
