.trophy_div {
  width: 100%;
  margin-top: 10%;

  text-align: center;
}

.trophy_img {
  width: 60%;
  margin-top: 5%;
  vertical-align: middle;
}

.ul_ms {
  margin: 0;
  padding: 0;
  columns: 2;
  list-style: none;
}

.missionBtn {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  height: 5vh;
  border-radius: 15px;

  font-size: 90%;
}

.Mission h1 {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  width: 100%;
  height: 8vh;
  margin-top: 0;
  background-color: rgb(0, 102, 255);
  color: white;
}

.Mission h4 {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.missionBtn {
  border: none;
  width: 70%;
  font-size: 1rem;
}
