.Mypage {
  padding-bottom: %;
}

.profileImg {
  width: 50%;
  height: 50%;

  margin: 5% 0 5% 25%;
  object-fit: cover;

  border-radius: 50%;
}

.Mypage p {
  margin: 0;
}

.userInfoDiv_mp {
  text-align: center;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
.userName_mp {
  font-size: 200%;
  font-weight: bold;
}
.userEmail_mp {
  font-size: 150%;
}

.content_mp {
  font-size: 130%;
}

.profileEditBtn,
.logoutButton {
  width: 90%;
  height: 6vh;
  margin-left: 5%;
  font-size: 150%;
  border-radius: 15px;
  cursor: pointer;
}

.profileEdit:hover {
  background-color: rgb(44, 44, 255);
  color: white;
  transform: scale(1.02);
  transition: 0.25s;
  cursor: pointer;
}

.editButtonsDiv {
  margin-left: 5%;
}
.editButton {
  display: inline-block;
  cursor: pointer;
}

/* 
.alertEdit {
font-size: 130%;
  text-align: left;
  margin-left: 60px;
  margin-bottom: 20px;
} */

.editBtn {
  width: 90%;
  height: 6vh;

  margin-top: 1.5%;
  margin-bottom: 1.5%;

  font-size: 150%;
  text-align: left;
  border-radius: 15px;

  background-color: transparent;
  font-family: "Gowun Dodum", sans-serif;
  cursor: pointer;
}

.editBtn:hover {
  background-color: rgb(234, 234, 234);
  cursor: pointer;
}

.logoutButton {
  width: 90%;
  height: 6vh;
  font-size: 150%;
  border-radius: 15px;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: rgb(255, 80, 80);
  color: white;
  transform: scale(1.02);
  transition: 0.25s;
  cursor: pointer;
}
