.profileImg {
  width: 200px;
  height: 200px;

  object-fit: cover;

  border-radius: 50%;
}

.userName_mp {
  font-size: 40px;
  font-weight: bold;
}

.userEmail_mp {
  font-size: 30px;
}

.content_mp {
  font-size: 25px;
  text-align: left;
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.profileEdit {
  width: 90%;
  height: 60px;
  font-size: 30px;
  border-radius: 15px;
  margin-bottom: 40px;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.profileEdit:hover {
  background-color: rgb(44, 44, 255);
  color: white;
  transform: scale(1.02);
  transition: 0.25s;
  cursor: pointer;
}

.alertEdit {
  font-size: 30px;
  text-align: left;
  margin-left: 60px;
  margin-bottom: 20px;
}

.editButton {
  display: inline-block;
  cursor: pointer;
}

.editButton1 {
  width: 90%;
  height: 60px;
  font-size: 30px;
  text-align: left;
  border-radius: 15px;
  margin: 10px;
  background-color: transparent;
  font-family: "Gowun Dodum", sans-serif;
  cursor: pointer;
}

.editButton1:hover {
  background-color: rgb(184, 184, 184);
  cursor: pointer;
}

.logoutButton {
  width: 90%;
  height: 60px;
  font-size: 30px;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.logoutButton:hover {
  background-color: rgb(255, 80, 80);
  color: white;
  transform: scale(1.02);
  transition: 0.25s;
  cursor: pointer;
}
