.menuTab_va {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.sort_like {
  margin-top: 15px;
  width: 40%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}

.sort_save {
  margin-top: 15px;
  width: 40%;
  font-size: 30px;
  text-align: center;
  cursor: pointer;
}
