.menuTab_va {
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}
.sort_like {
  width: 40%;
  font-size: 30px;
  text-align: center;
}

.sort_save {
  width: 40%;
  font-size: 30px;
  text-align: center;
}
