.span_rm {
  font-size: 30px;
  margin-left: 2%;
  margin-right: 58%;
}

.span_rm_text {
  font-size: 30px;
  cursor: pointer;
}

.firstRecommend_txt,
.secondRecommend_txt {
  font-size: 35px;
  font-weight: bold;
  margin-left: 3%;
}

.RecommendElement {
  margin-top: 30px;
  margin-left: 2%;
}
