.Routine {
  width: 100%;
}

.Routine h2 {
  margin-left: 5%;

  font-size: 25px;

  width: 100%;
  text-align: left;
}

.usersInfo {
  margin-left: 5%;

  font-size: 20px;

  width: 100%;
  text-align: left;
}

.RoutineTitle {
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.RoutineImg {
  margin-top: 30px;
  width: 500px;
  border-radius: 20px;
}

.checkAll_div {
  display: flex;
  align-items: center;

  width: 100%;
  margin-left: 3%;
  margin-right: 3%;
}

.routineBody {
  width: 100%;
}

.RoutineDetail {
  display: flex;
  align-items: center;

  width: 100%;
  height: 6vh;

  margin-top: 4%;
  margin-bottom: 3%;
}

.checkbox_rt {
  margin: 5%;
}

.RoutineTime_rt {
  min-width: 20%;
  height: fit-content;

  font-size: 100%;

  margin-right: 3%;
}

.RoutineContent_rt {
  width: 60%;
  padding: 2%;

  text-align: center;
  background-color: rgb(228, 228, 228);
  border-radius: 15px;
  height: 5vh;
}
.checkbox {
  width: 70%;
  height: 6vh;
  margin: 10px;
  cursor: pointer;
}
.checkAll {
  margin: 10px;
  text-align: left;
  cursor: pointer;
}

.like_r {
  margin-left: 62%;
  /* text-align: center; */
  font-size: 100%;
  width: 10%;
  height: 4.5vh;
  border-radius: 50%;
  cursor: pointer;
}

.buttonDiv_r {
  width: 100%;
  bottom: 0;
  margin-top: 3%;
}

.SaveButton_r {
  width: 100%;
  height: 8vh;

  background-color: blue;
  font-size: 25px;
  color: white;
}

.routineItems_rt {
  width: 100%;
  text-align: center;
}
