.ShareRoutine {
  width: 100%;
  height: 100%;

  background-color: rgb(237, 237, 237);
}

.thumbnail_sr {
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  height: 25vh;

  object-fit: cover;

  border-radius: 20px;
  box-shadow: 4px 4px 4px rgb(160, 160, 160);
}

.text_sr {
  margin-left: 7%;
}

.RoutineTitleInput_sr {
  width: 90%;
  height: 5vh;
  border: 0;
  border-radius: 15px;
  font-size: 100%;

  margin-left: 5%;
  margin-right: 5%;
}

.IntroTextArea_sr {
  width: 90%;
  height: 13vh;
  border: 0;
  border-radius: 15px;
  font-size: 120%;

  margin-left: 5%;
  margin-right: 5%;
}

.TagButtonDiv_sr {
  width: 100%;
  margin-top: 3%;
  display: inline-block;
  text-align: center;
}
.TagButton_sr {
  padding: 4%;
  margin: 1%;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  font-size: 100%;
}

.clicked_sr {
  padding: 4%;
  margin: 1%;
  border-radius: 15px;
  font-size: 100%;

  background-color: blue;
  color: white;
}

.ShareButton_sr {
  width: 100%;
  height: 75px;
  margin-top: 3%;
  bottom: 0;

  background-color: blue;
  font-size: 25px;
  color: white;
}
