@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  animation: fadein 2s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Signup h1 {
  padding-top: 20%;
  margin-top: 0;
  margin-bottom: 20%;
  margin-left: 5%;

  font-size: 200%;
  text-align: left;
}

/* @media (max-width: 500px) {
  .Signup h2 {
    font-size: 30px;
  }
} */

/* .godtiner {
  color: #0000ff;
  font-size: 42px;
  padding-right: 5px;
} */

.mainImg {
  width: 100%;
}

.btnAreaDiv_su {
  text-align: center;
  margin-top: 15%;
}

.makeAccountBtn_su,
.LoginBtn_su {
  width: 80%;
  height: 7vh;

  border-radius: 30px;

  font-size: 130%;

  transition: 0.25s;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.makeAccountBtn_su {
  background-color: #0095f6;
  color: white;
}

.Signup h4 {
  margin-bottom: 0;
  margin-top: 10%;
}

.LoginBtn_su {
}

.button_su:hover {
  transform: scale(1.05);
}

/* .button_su-outline {
  position: relative;
  margin: auto;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
} */
