body {
  animation: fadein 2s;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Signup {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Signup > h1 {
  display: flex;
  align-items: center;
  height: 16rem;

  margin-left: 1rem;
}

.btnAreaDiv_su {
  width: 100%;
  height: 21rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnAreaDiv_su > button {
  width: 85%;
  height: 3.5rem;
  font-size: 1.1rem;

  border: none;
  border-radius: 1rem;
  transition: 0.25s;
}

.btnAreaDiv_su > button:hover {
  transform: scale(1.05);
}

.btnAreaDiv_su > h4 {
  margin-top: 2rem;
}

.makeAccountBtn_su {
  background-color: rgb(215, 215, 215);
}

.LoginBtn_su {
  margin-top: 0.5rem;
  color: white;
  background-color: rgb(0, 102, 255);
}
