.calendarHeader {
  margin-top: 5%;
  margin-bottom: 3%;
  padding-left: 5%;

  font-size: 35px;

  display: flex;
  align-items: center;
  justify-content: left;
}

.calendarHeader button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.week_btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.week_btn {
  margin: 10px;
  width: 10%;
  height: 10vh;
  border-radius: 40px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.selectedDay_btn {
  margin: 10px;
  width: 10%;
  height: 10vh;
  border-radius: 40px;
  border: 0;
  font-size: 20px;
  cursor: pointer;

  background-color: #0066ff;
  color: aliceblue;
}

.calendar_btn {
  border: 0;
  border-radius: 30%;
  font-size: 1.5rem;
  background-color: transparent;
}

@media (max-width: 500px) {
  .calendarHeader {
    font-size: 30px;
  }

  .week_btn {
    font-size: 10px;
  }

  .selectedDay_btn {
    font-size: 15px;
  }
}
