/* .calendarHeader {
  margin-top: 5%;
  margin-bottom: 3%;
  padding-left: 5%;

  font-size: 35px;

  display: flex;
  align-items: center;
  justify-content: left;
}

.calendarHeader button {
  margin-left: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.week_btn_div {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.week_btn {
  margin: 10px;
  width: 10%;
  height: 10vh;
  border-radius: 40px;
  border: 0;
  font-size: 20px;
  cursor: pointer;
}

.selectedDay_btn {
  margin: 10px;
  width: 10%;
  height: 10vh;
  border-radius: 40px;
  border: 0;
  font-size: 20px;
  cursor: pointer;

  background-color: #0066ff;
  color: aliceblue;
}

.calendar_btn {
  border: 0;
  border-radius: 30%;
  font-size: 1.5rem;
  background-color: transparent;
}

@media (max-width: 500px) {
  .calendarHeader {
    font-size: 30px;
  }

  .week_btn {
    font-size: 10px;
  }

  .selectedDay_btn {
    font-size: 15px;
  }
} */

.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.calendarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5rem;

  height: 3.5rem;
  font-size: 1.5rem;
}

.calendarHeader > .calendar_btn {
  margin-left: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
}

.week_btn_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.week_btn_div > button {
  flex: 1 1 0;
  height: 6rem;
  margin: 0.5rem;

  border: none;
  border-radius: 20px;

  font-size: 1rem;
}

.selectedDay_btn {
  color: white;
  background-color: rgb(0, 102, 255);
}

.calendar--div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
