.backButton {
  width: 8%;
  background-color: white;
}

.MyUpper_img {
  width: 100%;
}

.MyUpper_div {
  display: flex;
  align-items: center;

  padding-left: 3%;
}

.pageDescript {
  display: inline-block;
  width: fit-content;
  font-size: 20px;
  margin-left: 3%;
}
