.MyUpper_div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
}

.backButton {
  height: 3rem;
  margin-left: 1rem;
  border: none;
  background-color: transparent;
}

.MyUpper_img {
  width: 100%;
  height: 2rem;
}

.MyUpper_div > p {
  margin-left: 1rem;
  font-size: 1.4rem;
}
