.routineGroup {
  display: flex;
  justify-items: center;
  padding: 3%;
}
.time {
  display: inline-block;
  width: fit-content;
  height: 50px;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 3%;
  text-align: center;
}

.MyRoutineContent {
  display: inline-block;
  border: 0;
  border-radius: 13px;
  width: 300px;
  height: 50px;
  margin-left: 10px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
}

.clearedRoutine {
  display: inline-block;
  border: 0;
  border-radius: 13px;
  width: 300px;
  height: 50px;
  margin-left: 10px;
  font-size: 22px;
  text-align: center;
  cursor: pointer;
  background-color: rgb(56, 56, 255);
  color: white;
}

.removeText {
  font-weight: bolder;
  cursor: pointer;
  color: red;
}
