.RoutineEditor {
  width: 100%;
}

.RoutinName {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 10%;
}

.NameBox {
  width: 80%;
  height: 5vh;

  border: none;
  background-color: #ececec;
  border-radius: 10px;

  text-align: center;
  font-size: 100%;
}

.timeDay {
  width: 100%;
  display: flex;
  align-items: center;
}

.text_re {
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
}

.startTime,
.endTime {
  border: none;
  background-color: #ececec;
  border-radius: 10px;

  font-size: 100%;
  text-align: center;

  width: 30%;
  height: 5vh;

  margin: 0 2% 0 1%;
}

/* .submitRoutine_btn {
  width: 100%;
  height: 75px;
  bottom: 0;
  background-color: blue;
  font-size: 25px;
  color: white;
  cursor: pointer;
} */

/* .routineSection {
  font-size: 24px;
} */

.routineRules_div {
  width: 100%;
}

/* .routineRule {
  margin: 1%;
  width: 10%;
  height: 5vh;
  border-radius: 15px;
  font-size: 25px;
  text-align: center;
  background-color: rgb(228, 228, 228);
} */

.routineRulesBtn_div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 5%;
}

.routineRule {
  margin-right: 1.5%;
  margin-left: 1.5%;
  padding: 3%;
  border-radius: 15px;

  font-size: 20px;
}

.removeText {
  width: 100%;
  text-align: right;
  color: red;
  font-weight: bolder;
  font-size: 20px;

  padding-right: 5%;
}

.buttonDiv_re {
  width: 100%;
  bottom: 0;
  margin-top: 3%;
  position: fixed;
}

.SaveButton_re {
  width: 100%;
  height: 8vh;

  background-color: #0066ff;
  font-size: 25px;
  color: white;
}
