.NameBox {
  width: 80%;
  height: 40px;
  text-align: center;
  border: none;
  background-color: #ececec;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 60px;
  margin-bottom: 50px;
  font-size: 25px;
  padding: 10px;
}

.startTime {
  border: none;
  background-color: #ececec;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.endTime {
  border: none;
  background-color: #ececec;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.submitRoutine_btn {
  width: 100%;
  height: 75px;
  bottom: 0;
  background-color: blue;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.routineSection {
  font-size: 24px;
}

.routineRules_div {
}
.textSpan_re {
}

.routineRule {
  margin: 1%;
  width: 10%;
  height: 5vh;
  border-radius: 15px;
  font-size: 25px;
  text-align: center;
  background-color: rgb(228, 228, 228);
}

.routineRulesBtn_div {
  text-align: center;
}
