@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "Pretendard-Regular";
  font-weight: 200;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
}

.App {
}

button {
  border: 0;
}

/* Home */
.Home .input_date {
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.Home .addRoutine {
  border: none;
  color: black;
  border-radius: 100px;
  cursor: pointer;
  background-color: #ececec;
  font-size: 50px;
}
